<div class="container">
  <h2 class="text-center">My Info</h2>


  <div class="myinfo" ng-if="myInfoCtrl.saved">
    <div class="panel panel-info">
      <div class="panel-body">First Name: {{myInfoCtrl.userInfo.firstName}}</div>
      <div class="panel-body">Last Name: {{myInfoCtrl.userInfo.lastName}}</div>
      <div class="panel-body">Email: {{myInfoCtrl.userInfo.emailAddress}}</div>
      <div class="panel-body">Phone: {{myInfoCtrl.userInfo.phoneNumber}}</div>
      <div class="panel-body">Favorite Dish: {{myInfoCtrl.userInfo.favoriteDish}}</div>
    </div>
    <div class="myinfo-dish">
      <menu-item menu-item="myInfoCtrl.userInfo.MenuItem"></menu-item>
    </div>
  </div>

  <div class="myinfo-alert">
    <div class="alert alert-warning" ng-if="!myInfoCtrl.saved">
      <h2>Not Signed Up</h2>
      <button type="button" ui-sref="public.signup" class="btn btn-primary">Create User Account.</button>
    </div>
  </div>
</div>